:root {
  --text: #006655;
  --text-h: #00B295;
  --text-user-filled: #02705e;
  --selected: #3DAE9B;
  --text-warning: #B0413E;
  --bg: #ECE9EA;
  --bg-blur: #ECE9EA80;
  --bg-key: #E6E1F5;
  --border: #e5e4e7;
  --border-cell: #99FFF0;
  --border-3grid: #00F5D0;
  --border-playing: #00B89C;

  --sans: 'Elms Sans', sans-serif;
  --heading: 'Elms Sans', sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text-h);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ADFFF1;
    --bg: #001411;
    --bg-blur: #00141180;
    --bg-selected: #013028;
    --bg-key: #1F153D;
    --border: #2e303a;
    --border-cell: #002922;
    --border-3grid: #005244;
  }
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/trial-light.svg');
    background-size: fit;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (prefers-color-scheme: dark) {
    main {
      background-image: url('/trial-dark.svg');
    }
  }
